<%= form_for @car, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :year, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vin, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :milage, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :milage, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :used, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :used, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :make, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :make, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :car_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :car_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :color, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :transmission, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :transmission, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cars_path, :class => 'btn' %>
  </div>
<% end %>
