<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:make) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:year) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:vin) %></th>
      <th><%= model_class.human_attribute_name(:milage) %></th>
      <th><%= model_class.human_attribute_name(:used) %></th>
      <th><%= model_class.human_attribute_name(:car_type) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:transmission) %></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.price %></td>
        <td><%= car.vin %></td>
        <td><%= car.milage %></td>
        <td><%= car.used %></td>
        <td><%= car.car_type %></td>
        <td><%= car.color %></td>
        <td><%= car.transmission %></td>
      </tr>
    <% end %>
  </tbody>
</table>
