<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:make) %>:</strong></dt>
  <dd><%= @car.make %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @car.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @car.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @car.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vin) %>:</strong></dt>
  <dd><%= @car.vin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:milage) %>:</strong></dt>
  <dd><%= @car.milage %></dd>
  <dt><strong><%= model_class.human_attribute_name(:used) %>:</strong></dt>
  <dd><%= @car.used %></dd>
  <dt><strong><%= model_class.human_attribute_name(:car_type) %>:</strong></dt>
  <dd><%= @car.car_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @car.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transmission) %>:</strong></dt>
  <dd><%= @car.transmission %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cars_path, :class => 'btn'  %>
</div>
